* {
    box-sizing: border-box;
}

:root {

 --Green200:hsl(148, 38%, 91%);
 --Green600: hsl(169, 82%, 27%);
 --Red: hsl(0, 66%, 54%);
 --White: hsl(0, 0%, 100%);
 --Grey500: hsl(186, 15%, 59%);
 --Grey900: hsl(187, 24%, 22%);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--Green200);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
}
#mainContainer {
    display: flex;
    flex-direction: column;
    height: 40rem;
    max-width: 35rem;
    padding: 2rem;
    background-color: var(--White);
    border: 1px sold var(--White);
    border-radius: 1rem;
    overflow: hidden;
}
.nameContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
#queryTypeContainer {
    display: flex;
}
.generalSContainer, .generalEContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    border: 1px solid var(--Green600);
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    width: 100%;
    gap: 1rem;
}
span{
    margin-top: auto;
    margin-bottom: auto;
}

.firstNameContainer, .lastNameContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.errorMsg {
    display: none;
}
.messageBox {
    height: 5rem;
    width: 100%;
    border-radius: 0.5rem;
    resize: none;
    border: 1px solid var(--Green600);
}
#consentCheck {
    border-radius: 0;
}
input[type="checkbox"] {
    border-radius: 50%;
    outline: 1px solid #1e5180;
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
}




input[type="checkbox"]:checked {
    background-color: pink;
}
input[type="text"], input[type="email"] {
    width: 100%;
    border: 1px solid var(--Green600);
    border-radius: 0.5rem;
    padding: 0.5rem; 
}

.consentContainer {
    margin-top: 2rem;
}

button {
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--Green600);
    color: var(--White);
}
h2 {
    font-size: 1rem;
      font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}